# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
# https://github.com/python/black#version-control-integration
repos:
    - repo: https://github.com/python/black
      rev: stable
      hooks:
        - id: black
          language_version: python3.8
    - repo: https://gitlab.com/pycqa/flake8
      rev: 3.7.9
      hooks:
        - id: flake8
          additional_dependencies: [
              '-e', 'git+https://github.com/pycqa/pyflakes@1911c20#egg=pyflakes',
              '-e', 'git+https://github.com/pycqa/pycodestyle@d219c68#egg=pycodestyle',
          ]
